html{
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
  display: flex;
  font: 1em sans-serif;
  margin: 0;
  height: 100%;
}

h1 {
    color: #525454;
    font-size: 22px;
    text-align: left;
}


#map {
    height: 100%;
    width: 100%;
}

#list-box {
  margin-top: 40px;
  margin-left: 25px;
  color: black;
  position: absolute;
  left: 0;
  min-width: 30px;
  max-width: 275px;
  padding: 10px;
  background-color: rgba(0, 255, 0, 0.3);

}

#navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-list-item {
  padding: 10px 10px;
  cursor: pointer;
}


#infowindow-content {
  max-height: 30px;
}

.list-toggle {
  display: inline;
  float: right;
  cursor: pointer;
}

.flickr-img-container {
  display: inline-block;
  border: 1px solid black;
  border-radius: 1px 1px;
  width: 20%;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.flickr-img {
  max-height: 60px;
}
