* {
  box-sizing: border-box;
}

html{
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
  display: flex;
  font: 1em sans-serif;
  margin: 0;
  height: 100%;
}

h1 {
    color: #525454;
    font-size: 22px;
    margin: 5 5 10px 0;
    text-align: left;
}


#map {

    height: 100%;
          width: 100%;
}

#list-box {
  margin-top: 40px;
  margin-left: 25px;
  color: black;
  position: absolute;
  left: 0;
  min-width: 30vw;
  max-width: 275px;
  padding: 10px;
  background-color: rgba(100, 200, 100, 0.5);



}


#navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
    overflow: scroll;

}

.navigation-list-item {
  padding: 10px 10px;
  cursor: pointer;
      overflow: scroll;
}



#infowindow-content {
  max-height: 30vh;
  overflow: scroll;
}




